{% extends '::base.html.twig' %}

{% block title %}
Impression du devis {{ entity.reference }} 
{% endblock %} 
{% block stylesheets %}
{#<link rel="stylesheet" href="{{ asset('css/mescss.css') }}" />#}
{% endblock %}
{% block javascripts %}               
        <script src='{{ asset('js/mesfonctions.js') }}'></script>          
{% endblock %}  
{% block body -%} 
        <div style="display: inline-block;vertical-align: top;float: left;border: 1px solid black;position: relative;left: 10px;">
            <article>                
                <h1>Devis</h1>
                <p>{{ entity.reference }}</p>
            </article>
        </div>    
        <div style="display: inline-block;vertical-align: top;float: right;border: 1px solid black;position: relative;left: -10px;">
            <article>                
                <h1>Destinataire</h1>                
                {{ entity.organisation }}<br>Tél : {{ entity.organisation.tel }}<br>{{ entity.organisation.adresse }}
                <br>{{ entity.organisation.ville.cp }} {{ entity.organisation.ville.nom }}({{ entity.organisation.ville.pays }})
                <br>A l'attention de {{ entity.contact }}
            </article>
        </div>  
        <table style="border-collapse: collapse;
    border: 2px solid #black;
    width: 100%;
    position: relative;
    top: 10px;">
            <thead style="background-color: green;color: white;">
            <th>Date</th>
            <th>Référence</th> 
            <th>Votre Correspondant</th>
            <th>Page</th>         
            </thead> 
            <tr>
                <td style="text-align: center;border : 1px solid #d0d0d0;">{{ entity.createdAt|date("d/m/Y") }}</td>
                <td style="text-align: center;border : 1px solid #d0d0d0;">{{ entity.reference }}</td>    
                <td style="text-align: center;border : 1px solid #d0d0d0;">{{ entity.referent }}</td>
                <td style="text-align: center;border : 1px solid #d0d0d0;">[page]</td>          
            </tr>
        </table>
        <table  style="border-collapse: collapse;border: 2px solid #black;width: 100%;position: relative;top: 20px;">
            <thead style="background-color: green;color: white;">
            <th>N°</th>
            <th>Référence</th> 
            <th>Libellé</th>
            <th>Qte</th>     
            <th>Prix HT</th> 
            <th>Remise</th>
            <th>Total HT</th>       
            </thead>   
            {% for lignedevis in entity.lignesdevis %}
            <tr>
                <td style="text-align: center;border : 1px solid #d0d0d0;">{{ lignedevis.ordre|number_format }}</td>
                <td style="text-align: center;border : 1px solid #d0d0d0;">{{ lignedevis.reference|e }}</td>  
                <td style="text-align: left;border : 1px solid #d0d0d0;">{{ lignedevis.description| raw }}</td>
                <td style="text-align: center;border : 1px solid #d0d0d0;">{{ lignedevis.quantite|number_format }}</td>   
                <td style="text-align: center;border : 1px solid #d0d0d0;">{{ lignedevis.prixht|number_format(2, '.', ' ') }} &euro;</td>  
                <td style="text-align: center;border : 1px solid #d0d0d0;">{{ lignedevis.remise|number_format(2, '.', ' ') }} %</td>
                <td style="text-align: right;border : 1px solid #d0d0d0;">{{ lignedevis.totalht|number_format(2, '.', ' ') }} &euro;</td>         
            </tr>
            {% endfor %}  
            <tr>
                <td ></td>
                <td ></td>  
                <td ></td>
                <td ></td>   
                <td ></td> 
                <td style="text-align: left;border : 1px solid #d0d0d0;">Frais de port </td>
                <td style="text-align: right;border : 1px solid #d0d0d0;">{{ entity.fraisport|number_format(2, '.', ' ') }} &euro;</td> 
            </tr>
            <tr>
                <td ></td>
                <td ></td>  
                <td ></td>
                <td ></td>   
                <td ></td> 
                <td style="text-align: left;border : 1px solid #d0d0d0;">Total HT </td>
                <td style="text-align: right;border : 1px solid #d0d0d0;">{{ entity.totalht|number_format(2, '.', ' ') }} &euro;</td> 
            </tr>    
            <tr>
                <td ></td>
                <td ></td>  
                <td ></td>
                <td ></td>   
                <td ></td> 
                <td style="text-align: left;border : 1px solid #d0d0d0;">TVA ({{ entity.tauxtva|number_format(2, '.', ' ') }} %) </td>
                <td style="text-align: right;border : 1px solid #d0d0d0;">{{ entity.totaltva|number_format(2, '.', ' ') }} &euro;</td> 
            </tr>   
            <tr>
                <td ></td>
                <td ></td>  
                <td ></td>
                <td ></td>   
                <td ></td> 
                <td style="text-align: left;border : 1px solid #d0d0d0;">Total TTC </td>
                <td style="text-align: right;border : 1px solid #d0d0d0;">{{ entity.totalttc|number_format(2, '.', ' ') }} &euro;</td> 
            </tr>     
        </table>
            <div style="display: inline-block;
                        vertical-align: top;
                        float: left;
{#                        border: 1px solid black;#}
                        position: relative;
                        left: 10px;
                        top: 50px;">
                <article>                 
                    Lien de paiement sécurisé : <a href="{{ paiement.valeur }}?email={{ entity.contact.email }}&montant={{ entity.totalttc|number_format(2, '.', '') }}&reference={{ entity.reference }}">{{ paiement.valeur }}?email={{ entity.contact.email }}&montant={{ entity.totalttc|number_format(2, '.', '') }}&reference={{ entity.reference }}</a>
                    <br>Validité de l'offre : 15 jours
                    <br>Condition de règlement : {{ entity.modereglement }}
                </article>                 
            </div> 
            <div style="display: inline-block;
                        vertical-align: top;
                        float: right;
{#                        border: 1px solid black;#}
                        position: relative;
                        right: 10px;
                        top: 100px;">
                <article>                
                    <p>Nos tarifs comprennent un service d'assistance téléphonique d'installation sur les logiciels proposées</p>
                </article>                
            </div>  
                <div class="imagesignature" style="position:absolute;left: 10px;bottom: -400px;margin: 5px;
                                                    padding: 5px;
                                                    height: 100px;
                                                    width: 150px;
                                                    float: left;
                                                    text-align: center;">
                    <img src="{{ signature }}" alt="{{ entity.referent }}"> 
                    <div class="desc" style="text-align: center;font-weight: normal;margin: 5px;"><h4>{{ entity.referent }} </h4></div>
                </div>               
            <div style="width:100%;
                        position:absolute;
                        bottom:-740px;
                        text-align: center;
                        font-size: 15px;">
            20 Allée des Erables Bat D- Bp64162 - 95978 Roissy CDG Cedex  FRANCE <br>Info@progiss.com - www.progiss.com - Tel 01 49 89 07 90 - Fax 01 49 89 07 91 <br>SAS au capital de 43750 Euros  - Siret :49901977600024 R.C.S Bobigny N° TVA : FR43499019776                   
            </div>
{% endblock %}